{erl_opts, [warnings_as_errors,
	    {platform_define, "^2[0-1]{1}", fsm_deprecated},
            {platform_define, "^1[7-8]{1}", old_rand},
            {platform_define, "^17", no_log2},
            {platform_define, "^R", no_sync},
            {platform_define, "^R", old_rand},
            {platform_define, "^R", no_log2},
            {platform_define, "^R", slow_test}]}.

{xref_checks, [undefined_function_calls,undefined_functions]}.

{profiles,
 [{eqc, [{deps, [meck, fqc]},
    {erl_opts, [debug_info, {parse_transform, lager_transform}, {parse_transform, eqc_cover}]},
    {plugins, [rebar_eqc]}]}
 ]}.

{deps, [
        {lz4, ".*", {git, "https://github.com/szktty/erlang-lz4", {tag, "0.2.4"}}}
        ]}.
