{minimum_otp_vsn, "20.0"}.

{erl_opts, [warnings_as_errors,
	    {platform_define, "^2[0-4]{1}", fsm_deprecated},
            {platform_define, "^2[2-4]{1}", if_check}]}.

{xref_checks, [undefined_function_calls,undefined_functions]}.

{eunit_opts, [verbose]}.

{profiles,
 [{eqc, [{deps, [meck, fqc]},
    {erl_opts, [debug_info,  {d, 'EQC'}]},
    {extra_src_dirs, ["test"]}]},
    {shell, [{apps, [lz4]}]},
    {plugins, [rebar_eqc]}
 ]}.

{deps, [
        {lz4, ".*", {git, "https://github.com/martinsumner/erlang-lz4", {tag, "0.2.5"}}}
        ]}.
