{minimum_otp_vsn, "22.3"}.

{xref_checks,
  [undefined_function_calls,undefined_functions,
    locals_not_used,
    deprecated_function_calls, deprecated_functions]}.

{cover_excl_mods,
  [testutil,
    appdefined_SUITE, basic_SUITE, iterator_SUITE,
    perf_SUITE, recovery_SUITE, riak_SUITE, tictac_SUITE]}.

{eunit_opts, [verbose]}.

{project_plugins, [
  {eqwalizer_rebar3, {git_subdir, "https://github.com/OpenRiak/eqwalizer.git", {branch, "openriak-3.4"}, "eqwalizer_rebar3"}}
]}.

{profiles,
 [{eqc, [{deps, [meck, fqc]},
    {erl_opts, [debug_info,  {d, 'EQC'}]},
    {extra_src_dirs, ["test/property", "test/end_to_end"]},
    {shell, [{apps, [lz4]}]},
    {plugins, [rebar_eqc]}
   ]},
  {test, [{extra_src_dirs, ["test/end_to_end", "test/property"]}
   ]},
  {perf_full, [{erl_opts, [{d, performance, riak_fullperf}]}]},
  {perf_mini, [{erl_opts, [{d, performance, riak_miniperf}]}]},
  {perf_prof, [{erl_opts, [{d, performance, riak_profileperf}]}]}
 ]}.

{deps, [
  {lz4, ".*", {git, "https://github.com/OpenRiak/erlang-lz4", {branch, "openriak-3.4"}}},
  {zstd, ".*", {git, "https://github.com/OpenRiak/zstd-erlang", {branch, "openriak-3.2"}}},
  {eqwalizer_support, {git_subdir, "https://github.com/OpenRiak/eqwalizer.git", {branch, "openriak-3.4"}, "eqwalizer_support"}}
        ]}.

{ct_opts, [{dir, ["test/end_to_end"]}]}.
