{mode, max}.

{duration, 30}.

{concurrent, 24}.

{driver, basho_bench_driver_eleveleddb}.

{key_generator, {int_to_bin_bigendian,{partitioned_sequential_int, 10000000}}}.

{value_generator, {fixed_bin, 8000}}.

{operations, [{put, 1}]}.

%% the second element in the list below (e.g., "../../public/eleveldb") must
%% point to the relevant directory of a eleveleddb installation 
{code_paths, ["../eleveleddb/_build/default/lib/eleveleddb/ebin"]}.

{eleveleddb_dir, "/tmp/eleveleddb.bench"}.
{eleveleddb_num_instances, 12}.

